<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SnapPass - Share Secrets</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ config.STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ config.STATIC_URL }}/css/custom.css" rel="stylesheet">
    <link href="{{ config.STATIC_URL }}/font/bootstrap-icons.css" rel="stylesheet">
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-dark bg-primary mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <i class="bi bi-shield-lock-fill"></i>
          SnapPass - Share Secrets
        </a>
      </div>
    </nav>

    {% block content %}{% endblock %}
    <script src="{{ config.STATIC_URL }}/js/bootstrap.bundle.min.js"></script>
    {% block js %}{% endblock %}
  </body>

</html>
