{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header">
      <h3 class="text-primary">Set Secret</h3>
    </div>
    <form role="form" id="password_create" method="post" autocomplete="off">
      <div class="row gx-0">
        <div class="col-6 me-3">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-lock-fill text-secondary"></i>
            </span>
            <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control"
              placeholder="SnapPass allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL. Share the one-time use URL with your intended recipient."
              autocomplete="off" required></textarea>
          </div>
        </div>
        <div class="col-2">
          <div class="h-100 d-flex flex-column">
            <div class="row gx-0 justify-content-center">
              <div class="mb-3">
                <label for="ttl">Expires in:</label>
                <select class="form-select" name="ttl">
                  <option value="Two Weeks">two Weeks</option>
                  <option value="Week">one Week</option>
                  <option value="Day" selected="selected">one Day</option>
                  <option value="Hour">one Hour</option>
                </select>
              </div>
              <div>
                <label for="duplicate">Number of Links:</label>
                <input type="number" class="form-control" name="duplicate" id="duplicate" min="1" max="10" value="1">
              </div>
            </div>
            <div class="row gx-0 justify-content-center align-items-end flex-grow-1">
              <button type="submit" class="btn btn-primary" id="submit">Generate URL</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
